export COMPOSE_PROJECT_NAME=ethana

# Environments
export RAILS_ENV=development
export NODE_ENV=development


# Docker compose profiles
export COMPOSE_PROFILES=postgres,redis,web,vite,worker,cable

# Docker restart containers
export DOCKER_RESTART_POLICY=unless-stopped
# export DOCKER_RESTART_POLICY=no

## Secret keys
# You can use `rails secret` command to generate a secret key
export SECRET_KEY_BASE=rails_secret_dev
export DEVISE_JWT_SECRET_KEY=devise_secret_dev
# ActiveRecord encryption keys: bin/rails db:encryption:init
export ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=ar_primary_dev
export ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=ar_deterministic_dev
export ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=ar_derivation_salt_dev

## Puma server
# PROTOCOL=http
export HOST=0.0.0.0
export PORT=3000
# PIDFILE=tmp/pids/server.pid
# export DOCKER_WEB_PORT_FORWARD=127.0.0.1:3000
export DOCKER_WEB_PORT_FORWARD=3000

## Vite ruby
export VITE_RUBY_HOST=vite
export VITE_RUBY_PORT=3036
export DOCKER_VITE_PORT_FORWARD=3036
# export VITE_RUBY_VITE_BIN_PATH=/node_modules/.bin/vite

## CORSs
# export RACK_CORS_ALLOWED_ORIGINS=http://localhost*,http://127.0.0.1*

## Action cable
export ACTION_CABLE_URL=ws://localhost:28080
export ACTION_CABLE_ALLOWED_REQUEST_ORIGINS=http:\/\/localhost*,http:\/\/127.0.0.1*
export DOCKER_CABLE_PORT_FORWARD=28080

## Workers and threads count
export WEB_CONCURRENCY=2
export RAILS_MAX_THREADS=5
export RAILS_MIN_THREADS=5

## Postgres
export POSTGRES_HOST=postgres
export POSTGRES_PORT=5432
export POSTGRES_USER=pguser
export POSTGRES_PASSWORD=pgpass
export POSTGRES_DB=ethana

## Redis URL
export REDIS_URL=redis://redis:6379/1
export REDIS_CHANNEL_PREFIX=ethana

# Sidekiq web
export SIDEKIQ_WEB_USERNAME=sidekiq-web-dashboard
export SIDEKIQ_WEB_PASSWORD=sidekiq-web-123
