<p style="white-space: pre-wrap;">
  <%= t('mailer.reset_password.template.instruction') %>
</p>

<p><%= link_to t('mailer.reset_password.template.submit'), "#{ENV['VITE_API_URL']}/user/reset_password?reset_password_token=#{@data['reset_password_token']}" %></p>

